<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" xmlns="http://logging.apache.org/log4j/2.0/config"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="name">smh</Property>
    </Properties>

    <ThresholdFilter level="info"/>

    <Appenders>
        <Console name="MyConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l- %msg%n"/>
        </Console>
        <File name="MyFile" fileName="D:\app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="MyConsole"/>
<!--            <AppenderRef ref="MyFile" level="info"/>-->
        </Root>
    </Loggers>
</Configuration>